<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foodNumOne</key>
	<array>
		<string>仓房镇</string>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
		<array>
			<string>13800000000</string>
			<string>淅川县体育场</string>
			<string>200-500</string>
		</array>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
	</array>
	<key>foodNumTwo</key>
	<array>
		<string>丹江野生鱼</string>
		<array>
			<string>2</string>
			<string>2</string>
			<string>2</string>
			<string>2</string>
		</array>
		<array>
			<string>123</string>
			<string>222</string>
			<string>333</string>
		</array>
		<array>
			<string>3</string>
			<string>3</string>
			<string>3</string>
		</array>
	</array>
	<key>foodNumThree</key>
	<array>
		<string>丹江国际宾馆</string>
		<array>
			<string>2</string>
			<string>2</string>
			<string>2</string>
			<string>2</string>
		</array>
		<array>
			<string>123</string>
			<string>222</string>
			<string>333</string>
		</array>
		<array>
			<string>3</string>
			<string>3</string>
			<string>3</string>
		</array>
	</array>
	<key>foodNumFour</key>
	<array>
		<string>小肥羊</string>
		<array>
			<string>2</string>
			<string>2</string>
			<string>2</string>
			<string>2</string>
		</array>
		<array>
			<string>123</string>
			<string>222</string>
			<string>333</string>
		</array>
		<array>
			<string>3</string>
			<string>3</string>
			<string>3</string>
		</array>
	</array>
</dict>
</plist>
