<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>traffic</key>
	<array>
		<array>
			<string>到坐禅谷的交通</string>
			<string>到坐禅谷的交通：1、其他省市去坐禅谷一般选择自驾游或跟团。2、如果是自助游的话首选到南阳市，然后转乘南阳直达坐禅谷景区的客车（旺季）3、坐车到淅川县，转乘淅川到仓房镇的客车，再乘坐小三轮到景区。</string>
		</array>
		<array>
			<string>淅川县车站</string>
			<string>淅川汽车站有发往全国各地的客运班车，包括南阳，襄阳，郧县，周边县市的客运班车每天都有，具体发车时间请拨打淅川汽车站服务电话：03776900000.</string>
		</array>
		<array>
			<string>南阳市直达坐禅谷汽车</string>
			<string>旅游旺季南阳市到坐禅谷的客车每天都有，早上发车，下午返回南阳，适合自助游的游客，客车位于商城汽车站内，请咨询商场汽车站：03776900001</string>
		</array>
	</array>
	<key>New item</key>
	<string>listHotel</string>
	<key>menu</key>
	<array>
		<string>简介</string>
		<string>景点</string>
		<string>特色美食</string>
		<string>票务信息</string>
		<string>住宿</string>
		<string>交通</string>
		<string>推荐路线</string>
		<string>附近景点</string>
		<string>服务电话</string>
		<string>其他</string>
	</array>
	<key>keyFood</key>
	<dict>
		<key>淅川美食</key>
		<array>
			<string>xichuan delicious food</string>
			<string>xichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious food</string>
		</array>
		<key>小吃店/饭店</key>
		<array>
			<array>
				<string>back.png</string>
				<string>仓房镇</string>
				<string>县城</string>
				<string>在县城湘菜馆里数一数二，食材讲究，做法精细</string>
				<string>foodNumOne</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>丹江野生鱼</string>
				<string>县城</string>
				<string>小店只有现做的野生鲜鱼汤和烙馍，鱼汤味美，鱼肉滑嫩，烙馍稣香，不用多说，吃了就知道</string>
				<string>foodNumTwo</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>丹江国际宾馆</string>
				<string>县城</string>
				<string>集饮食、聚餐、住宿一体</string>
				<string>foodNumThree</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>小肥羊</string>
				<string>县城</string>
				<string>这个就不多介绍了吧</string>
				<string>foodNumFour</string>
			</array>
		</array>
	</dict>
	<key>keyHotel</key>
	<dict>
		<key>旅途休息住宿</key>
		<array>
			<string>xichuan hotel</string>
			<string>xichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious food</string>
		</array>
		<key>住宿推荐</key>
		<array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>千佛崖</string>
				<string>景区</string>
				<string>千佛崖123212212312312312312312\n千佛崖123212212312312312312312\n千佛崖123212212312312312312312</string>
				<string>foodNumOne</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumTwo</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumThree</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumFour</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumFive</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumSix</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumSeven</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumEight</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumNine</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
				<string>foodNumTen</string>
			</array>
		</array>
	</dict>
	<key>keyInfo</key>
	<dict>
		<key>景区美景</key>
		<array>
			<string>介绍</string>
			<string>1123212212312312312312312111111111111111111\n介绍1111111111111111111\n介绍1111111111111111111</string>
		</array>
		<key>景点</key>
		<array>
			<array>
				<string>back.png</string>
				<string>千佛崖</string>
				<string>景区</string>
				<string>千佛崖123212212312312312312312\n千佛崖123212212312312312312312\n千佛崖123212212312312312312312</string>
			</array>
			<array>
				<string>nav_menu_icon@2x.png</string>
				<string>天池</string>
				<string>景区</string>
				<string>32347293479823479823</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
