<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recommendation</key>
	<array>
		<array>
			<string>自助游</string>
			<string>坐车到淅川后，在淅川客运汽车站乘坐到仓房镇的客车，到站后乘坐小三轮到坐禅谷景区</string>
		</array>
		<array>
			<string>自驾游</string>
			<string>1、淅川方向走s335至马蹬镇，从石桥轮渡过丹江后到坐禅谷\n2，淅川方向走s335至香花镇宋岗码头，乘轮渡至下寺码头再到坐禅谷</string>
		</array>
		<array>
			<string>组团旅行</string>
			<string>组团旅行请联系景区或当地旅行社</string>
		</array>
	</array>
	<key>traffic</key>
	<array>
		<array>
			<string>到坐禅谷的交通</string>
			<string>到坐禅谷的交通：1、其他省市去坐禅谷一般选择自驾游或跟团。2、如果是自助游的话首选到南阳市，然后转乘南阳直达坐禅谷景区的客车（旺季）3、坐车到淅川县，转乘淅川到仓房镇的客车，再乘坐小三轮到景区。</string>
		</array>
		<array>
			<string>淅川县车站</string>
			<string>淅川汽车站有发往全国各地的客运班车，包括南阳，襄阳，郧县，周边县市的客运班车每天都有，具体发车时间请拨打淅川汽车站服务电话：03776900000.</string>
		</array>
		<array>
			<string>南阳市直达坐禅谷汽车</string>
			<string>旅游旺季南阳市到坐禅谷的客车每天都有，早上发车，下午返回南阳，适合自助游的游客，客车位于商城汽车站内，请咨询商场汽车站：03776900001</string>
		</array>
	</array>
	<key>menu</key>
	<array>
		<string>简介</string>
		<string>景点</string>
		<string>特色美食</string>
		<string>景区地图</string>
		<string>住宿</string>
		<string>交通</string>
		<string>推荐路线</string>
		<string>附近景点</string>
		<string>服务电话</string>
		<string>其他</string>
	</array>
	<key>keyFood</key>
	<dict>
		<key> 淅川美食</key>
		<array>
			<string></string>
			<string>xichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious foodxichuan delicious food</string>
		</array>
		<key> 小吃/饭店</key>
		<array>
			<array>
				<string>danjiangyuyan.jpg</string>
				<string>丹江野生鱼</string>
				<string>县城</string>
				<string>小店只有现做的野生鲜鱼汤和烙馍，鱼汤味美，鱼肉滑嫩，烙馍稣香，吃过朋友都说好</string>
				<string>foodNumTwo</string>
			</array>
			<array>
				<string>danjiangguoji.jpg</string>
				<string>丹江国际宾馆</string>
				<string>县城</string>
				<string>集饮食、聚餐、住宿一体</string>
				<string>foodNumThree</string>
			</array>
		</array>
	</dict>
	<key>keyHotel</key>
	<dict>
		<key> 旅途休息住宿</key>
		<array>
			<string></string>
			<string>住宿介绍，酒店介绍，客栈介绍</string>
		</array>
		<key> 住宿推荐</key>
		<array>
			<array>
				<string>danjiangguoji.jpg</string>
				<string>丹江国际宾馆</string>
				<string>县城</string>
				<string>集饮食、聚餐、住宿一体</string>
				<string>foodNumThree</string>
			</array>
		</array>
	</dict>
	<key>keyInfo</key>
	<dict>
		<key> 坐禅谷的美景</key>
		<array>
			<string></string>
			<string>  坐禅谷集瀑布，石奇，潭深，泉涌，崖峭，洞幽于一体，融佛教文化，历史文化，古寨文化和山水景观于一身，构成完整的风景体系。景区内，佛光瀑，莲花瀑，瀑瀑飞泻；千佛崖，面壁崖，崖崖峭力；净心潭，无底潭，潭潭清幽；聚龙湖，红果湾，湖湾醉人；各种水锈石姿态各异，拥有中原地区最大的水锈石群；有明代地理学家徐霞客宣扬的泉涌——龙王泉和唐宣宗赦封通天洞；独有省内佛光瀑布彩虹奇景。景区风光如画，四季宜人，使人目不暇接，流连忘返。</string>
		</array>
		<key> 景点</key>
		<array>
			<array>
				<string>longwangquan.jpg</string>
				<string>龙王泉</string>
				<string>景区</string>
				<string>  龙王泉是香严寺古八景之一。这股清泉从半山腰涌出，常年奔腾不息，蜿蜒而下，流入谷底。龙王泉平均流量达每秒1立方米。特别神奇的是天越旱水越大，旱情最严重时，曾达到每秒1.5立方米的水量。明代著名地理学家、旅行家徐霞客在《游太和山》日记中写到：“郧县境，乃湖广界，东五里，有池一泓，曰龙泉，上源不见所自来，而下流淙淙，灌地万倾，地又属淅川。”根据他对此泉的描述和所处的地理位置，经专家多次考证，此泉即是龙王泉。</string>
			</array>
			<array>
				<string>pubu.jpg</string>
				<string>佛光瀑</string>
				<string>景区</string>
				<string>  此瀑长达110 米，高20米，无数道泉水从崖顶的水锈石中涌出，腾空而下，拉出道道瀑布，接着天，连着地，形成“绝壁东西对削，惊涛左右交飞”的奇观。佛光普照是佛光瀑的一大奇观。上午，从下面看，一道彩虹正在头顶。下午，从上面看，一道彩虹正在身边。且人走虹走，人退虹退。</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
